<!-- <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script> -->
<!-- 上一个cdn也挂了,换成网上找的这一个 -->
<%- js('js/av-min.js') %>
<%- js('js/Valine.min.js') %>

<div id="vcomment" class="comment"></div> 
<script>
    var notify = '<%= theme.valine.notify %>' == true ? true : false;
    var verify = '<%= theme.valine.verify %>' == true ? true : false;
    window.onload = function() {
        new Valine({
            el: '#vcomment',
            notify: notify,
            verify: verify,
            app_id: "<%= theme.valine.app_id %>",
            app_key: "<%= theme.valine.app_key %>",
            placeholder: "<%= theme.valine.placeholder %>",
            avatar:"<%= theme.valine.avatar %>",
            requiredFields: "<%= theme.valine.requiredFields %>".split(',')
        });
    }
</script>