<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="particles-js"></div>
    <div class="mymenucontainer" title="侧栏按钮" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>    
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
<script>
  var hide = false;
  function myFunction(x) {
      x.classList.toggle("change");
      if(hide == false){
          $(".left-col").css('display', 'none');
          $(".mid-col").css("left", 6);
          $(".tools-col").css('display', 'none');
          $(".tools-col.hide").css('display', 'none');
          hide = true;
          $(".mymenucontainer").css('left', '0');
      }else{
          $(".left-col").css('display', '');
          $(".mid-col").css("left", 300);
          $(".tools-col").css('display', '');
          $(".tools-col.hide").css('display', '');
          hide = false;
          $(".mymenucontainer").css('left', '280px');
      }
  }
  if (localStorage.getItem('bright') === '1') {
    document.body.classList.add('bright');
  }
  // else if (new Date().getHours() >= 7 && new Date().getHours() < 22) {
  //   document.body.classList.add('bright');
  // }
  // else if (matchMedia('(prefers-color-scheme: light)').matches) {
  //   document.body.classList.add('bright');
  // }
</script>
</html>