<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%if(post.noDate != "true"){%>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
  <%}%>
  <div class="article-inner">
    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% if(theme.word_count && !post.no_word_count && !index){%>
          <%- partial('post/word') %>
        <% } %>
      </header>
      <% if (!index){ %>
      <div class="article-info article-info-post">
        <%- partial('post/tag') %>
        <%- partial('post/category') %>
        <% if (theme.leancloud_visitors.enable) { %>
          <%- partial('post/viewCounter') %>
        <% } %>
        <div class="clearfix"></div>
      </div>
      <% } %>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (page.type === 'categories') { %>
      <div class="category-all-page">
        <div class="category-all-title">
        <%- _p('全部分类', site.categories.length) %>
        </div>
        <div class="category-all">
        <%- list_categories() %>
        </div>
      </div>
      <% } else { %>
        <% if (post.excerpt && index){ %>		<%- post.excerpt %>
        <% } else { %>
          <!-- Table of Contents -->

          <!-- version1 -->
          <!-- <% if (!index && post.toc){ %>
            <div id="toc" class="toc-article">
            <strong class="toc-title">文章目录</strong>
            <%- toc(post.content) %>
            </div>
          <% } %> -->

          <!-- version2 -->
          <% if (!index && post.toc){ %>
            <p class="show-toc-btn" id="show-toc-btn" onclick="showToc();">
            <strong class="btn-text">文章导航</strong>
            </p>
            <div id="toc-article" class="toc-article" style="display:none">
                <span id="toc-close" class="toc-close" title="隐藏导航" onclick="showBtn();">×</span>
                <strong class="toc-title">文章目录</strong>
                <%- toc(post.content) %>
            </div>
            <script type="text/javascript">
              function showToc(){
                  var toc_article = document.getElementById("toc-article");
                  var show_toc_btn = document.getElementById("show-toc-btn");
                  toc_article.setAttribute("style","display:block");
                  show_toc_btn.setAttribute("style","display:none");
                  };
              function showBtn(){
                  var toc_article = document.getElementById("toc-article");
                  var show_toc_btn = document.getElementById("show-toc-btn");
                  toc_article.setAttribute("style","display:none");
                  show_toc_btn.setAttribute("style","display:block");
                  };
            </script>
          <% } %>
          <%- post.content %>
        <% } %>
      <% } %>
      <!-- <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
      <% } else { %>
        <%- post.content %>
      <% } %> -->
    </div>
    <% if (index){ %>
    <div class="article-info article-info-index">
      <%if(post.top){%>
        <div class="article-pop-out tagcloud">
          <a class="">置顶</a>
        </div>
      <% } %>
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (theme.leancloud_visitors.enable) { %>
        <%- partial('post/viewCounter') %>
      <% } %>
      <div class="clearfix"></div>
    </div>
      <% if (post.excerpt && index){ %>
        <p class="article-more-link">
          <a <% if (!theme.excerpt_link){ %>class="hidden"<% } %> href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
        </p>
      <% } %>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && theme.share){ %>
<%- partial('post/share', {
    key: post.slug,
    title: post.title,
    image: theme.avatar,
    url: config.url+url_for(post.path)
  }) %>
<% } %>

<% if (!index && theme.duoshuo && post.comments){ %>
<%- partial('post/duoshuo', {
    key: post.slug,
    title: post.title,
    url: config.url+url_for(post.path)
  }) %>
<% } %>

<% if (theme.valine && theme.valine.app_id && theme.valine.app_key && !index){ %>
  <section id="comments" class="comments">
    <style>
      .comments{margin:30px;padding:10px;}
      @media screen and (max-width:800px){.comments{margin:auto;padding:10px;}}
    </style>
    <%- partial('post/valine', {
      key: post.slug,
      title: post.title,
      url: config.url+url_for(post.path)
      }) %>
</section>
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<%=config.disqus_shortname%>'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
<% } %>
