<nav id="mobile-nav">
  	<div class="overlay">
  		<div class="slider-trigger"></div>
		<!-- <div class="search-icon"></div> -->
		<% if (theme.animate){ %>
		<p class="animation-info">特效：</p>
		<div id="animation-button" onclick="animOnclick()"></div>
		<%}%>
  		<h1 class="header-author js-mobile-header hide"><%=theme.author%></h1>
  	</div>
	<!-- <%- partial('search') %> -->
	<div class="intrude-less">
		<header id="header" class="inner">
			<div class="profilepic">
				<img src="<%=theme.avatar%>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			</div>
			<hgroup>
			  <h1 class="header-author"><%=theme.author%></h1>
			</hgroup>
			<% if (theme.subtitle){ %>
			<p class="header-subtitle"><%=theme.subtitle%></p>
			<%}%>
			<nav class="header-menu">
				<ul>
				<% for (var i in theme.menu){ %>
					<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
		        <%}%>
		        <div class="clearfix"></div>
				</ul>
			</nav>
			<nav class="header-nav">
				<div class="social">
					<% for (var i in theme.subnav){ %>
						<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><%= i %></a>
			        <%}%>
				</div>
			</nav>
		</header>				
	</div>
</nav>

<script>
	// 特效开关
	function animOnclick(){
		if (localStorage.getItem('noanimation') === '1'){
			$("#animation-button").attr('class','animation-off');
			localStorage.setItem('noanimation','0');
			if (localStorage.getItem('bright') === '1') {
				var circlecolor={"value": ['#999']};
				var linecolor="#999";
				particlesJS0(circlecolor, linecolor);
			}else{
				var circlecolor={"value": ['#0fc', '#0ff', '#ccc', '#ffa500', '#7b5d5f', '#ff945c', '#cfb7c4']};
				var linecolor="#00bfff";
				particlesJS0(circlecolor, linecolor);
			}
		}else{
			$("#animation-button").attr('class','animation-on');
			localStorage.setItem('noanimation','1');
			var canvas_el = document.querySelector('#particles-js > .particles-js-canvas-el');
			canvas_el.remove();  // 清除特效
		}
	}
	// 特效函数
	function particlesJS0(circlecolor, linecolor) {
		// require(['/js/particles.js'], function(particlesJS) {
			window.particlesJS('particles-js',

			{
				"particles": {
				"number": {
					"value": 80,
					"density": {
					"enable": true,
					"value_area": 800
					}
				},
				"color": circlecolor,
				"shape": {
					"type": "circle",
					"stroke": {
					"width": 0,
					"color": "#000000"
					},
					"polygon": {
					"nb_sides": 5
					},
					"image": {
					"src": "img/github.svg",
					"width": 100,
					"height": 100
					}
				},
				"opacity": {
					"value": 0.5,
					"random": false,
					"anim": {
					"enable": false,
					"speed": 1,
					"opacity_min": 0.1,
					"sync": false
					}
				},
				"size": {
					"value": 5,
					"random": true,
					"anim": {
					"enable": false,
					"speed": 40,
					"size_min": 0.1,
					"sync": false
					}
				},
				"line_linked": {
					"enable": true,
					"distance": 150,
					"color": linecolor,
					"opacity": 0.4,
					"width": 1
				},
				"move": {
					"enable": true,
					"speed": 6,
					"direction": "none",
					"random": false,
					"straight": false,
					"out_mode": "out",
					"attract": {
					"enable": false,
					"rotateX": 600,
					"rotateY": 1200
					}
				}
				},
				"interactivity": {
				"detect_on": "canvas",
				"events": {
					"onhover": {
					"enable": true,
					"mode": "repulse"
					},
					"onclick": {
					"enable": true,
					"mode": "push"
					},
					"resize": true
				},
				"modes": {
					"grab": {
					"distance": 400,
					"line_linked": {
						"opacity": 1
					}
					},
					"bubble": {
					"distance": 400,
					"size": 40,
					"duration": 2,
					"opacity": 8,
					"speed": 3
					},
					"repulse": {
					"distance": 200
					},
					"push": {
					"particles_nb": 4
					},
					"remove": {
					"particles_nb": 2
					}
				}
				},
				"retina_detect": true,
				"config_demo": {
				"hide_card": false,
				"background_color": "#b61924",
				"background_image": "",
				"background_position": "50% 50%",
				"background_repeat": "no-repeat",
				"background_size": "cover"
				}
			}

			);
		// })
	}
</script>